@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
  font-family: 'Nunito',sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
}

section{
  padding: 2rem 9%;
}

/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  z-index: 2;
  background: #d3ad7f;
}

.header .logo img{
  height: 6rem;
  border-radius: 30%;
  background: white;
}

.header .navbar #close{
  display: none;
  position: absolute;
  top: 4rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
  color: #2a201c;
}

.header .navbar a{
  font-size: 2rem;
  margin-right: 2rem;
  color: #2a201c;
  margin: 2.5rem;
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.header .navbar a:hover{
  color: #d3ad7f;
  padding: 1rem;
  background: #54382e;
  border-radius: 2rem;
}

.header #menu{
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #fff;
}

/* ends */

/* home */

.home{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #ffefcb;
}

.home .vl {
  border-left: 6px solid #2a201c;
  height: 500px;
  position: absolute;
  left: 7%;
  margin-left: -3px;
  top: 18rem;
}

.home .content{
  flex: 2 1 44rem;
  padding-top: 6.5rem;
  padding-left: 5rem;
}

.home .content .title{
  font-size: 6rem;
  color: #d3ad7f;
  text-transform: uppercase;
}

.home .content .title span{
  text-transform: uppercase;
  color: #2a201c;
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.home .content .description{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #2a201c;
}

.home .content .btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #d3ad7f;
  cursor: pointer;
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.home .content .btn:hover{
  letter-spacing: .2rem;
  background: #2a201c;
}

.home .image{
  flex: 1 1 32rem;
  margin-right: 10rem;
} 

.home .image img{
  width: 130%;
  margin-top: 11rem;
}

.home .icons{
  padding-top: 55rem;
}

.home .icons img{
  padding: 0 1rem;
}

/* end */
/* about */

.about{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #ffefcb;
}

.about .img1{
  flex: 1 1 40rem;
  margin-top: 15rem;
}

.about .img1 img{
  width: 80%;
  height: 80%;
}

.about .cont1{
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.about .cont1 .heading{
  font-size: 6rem;
  color: #2a201c;
  text-transform: uppercase;
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.about .cont1 .story{
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.8;
  padding: 1rem 0;
  color: #2a201c;
  text-align: justify;
}

.about .cont1 .btn1{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #d3ad7f;
  cursor: pointer;
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.about .cont1 .btn1:hover{
  letter-spacing: .2rem;
  background: #2a201c;
}

/* about end */
/* menu */

.menu{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #ffefcb;
}

.menu h1{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: -11rem;
  font-size: 6rem;
  margin-right: 1rem;
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.menu .all-products{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -5rem;
}

.menu .all-products .products{
  overflow: hidden;
  background: #efcda4;
  color: #2a201c;
  text-align: center;
  width: 254px;
  height: 357px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  margin: 2rem;
}

.menu .all-products .products .product-info .product-title{
  font-size: 2rem;
}

.menu .all-products .products .product-info .price{
  font-size: 1.5rem;
  font-weight: 600;
}

.menu .all-products .products .product-info .pbtn{
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #2a201c;
  background: #fff;
  cursor: pointer;
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.menu .all-products .products:hover img{
  scale: 1.1;
}

.menu .all-products .products:hover{
  box-shadow: 5px 15px 25px #2a201c;
}

.menu .all-products .products img{
  height: 200px;
  margin: 1rem;
  transition: all 0.3s;
  border-radius: 4rem;
}

.menu .all-products .products a:link, .menu .all-products .products a:visited{
  color: #2a201c;
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
  transition: all 0.2s;
}

.menu .all-products .products a:hover{
  transform: scale(1.1);
}

.menu .all-products .btn2{
  margin-bottom: -8rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #d3ad7f;
  cursor: pointer;
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.menu .all-products .btn2:hover{
  letter-spacing: .2rem;
  background: #2a201c;
}

@media (max-width:991px){
  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem;
  }

  section{
    padding: 2rem;
  }

}

@media (max-width:768px){

  .header #menu{
    display: inline-block;
  }

  .header .navbar{
    position: fixed;
    top: 0; right: -105%;
    width: 30rem;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(50px);
    transition: .5s;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1200;
  }

  .header .navbar.active{
    right: 0;
  }

  .header .navbar #close{
    display: block;
  }

  .header .navbar a{
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }

  .home .content{
    padding-top: 9.5rem;
  }

  .home .image img{
    width: 368px;
  } 

  .home .content .title{
    font-size: 4rem;
  }

  .home .content .description{
    font-size: 1.6rem;
  }

}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
}
